<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


		<% if(yep) { %>
			<meta property="og:title" content="Yeplive™" />
			<meta property="og:url" content="http://yeplive.com" />
			<meta property="og:image" content="http://yeplive.com/assets/img/yeplivefontlogo2.png" />
			<meta property="og:description" content="<%= yep.user.display_name %> is now streaming live! Click here to watch!" />
		<% } %>


		<link href="/vendor/videojs/dist/video-js/video-js.css" rel="stylesheet">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" >
		<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/css/bootstrap-theme.css" >
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/animate.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<script
  src="http://d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
  data-apikey="92ab675246922f8a806c8b48081d8e8f">
</script>
	</head>

	<body>

		<div id="navbar"></div>
		<div id="main"></div>

	
		<script src="/main-build.js" data-main="/main" ></script>

	</body>
</html>