<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


		<% if(yep) { %>
			<meta property="og:title" content="Yeplive™" />
			<meta property="og:url" content="http://app.yeplive.com/watch/<%= yep.id %>" />
			<meta property="og:image" content="http://app.yeplive.com/img/yeplive.png" />
			<meta property="og:description" content="<%= yep.user.display_name %> is now streaming live! Click here to watch!" />
			<meta property="og:type" content="article" />
		<% } %>


		<link href="/vendor/videojs/dist/video-js/video-js.css" rel="stylesheet">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" >
		<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/css/bootstrap-theme.css" >
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/animate.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/vendor/sweetalert/lib/sweet-alert.css" />
		<script src="http://d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="92ab675246922f8a806c8b48081d8e8f"></script>
	</head>

	<body>

		<div id="navbar"></div>
		<div id="load-boy"></div>
		<div id="main">
			<div class="yeplive-loading">
				<div class="loader-center-outside">
					<div class="loader-center-inside">
					<div class="la-ball-clip-rotate la-2x">
						<div></div>
					</div>
				</div>
				</div>
			</div>
		</div>

	
		<script src="/require.js" data-main="/main" ></script>

	</body>
</html>