html, body{
	width:100%;
	height:100%;
}

.liked{
	color: #2ecc71;
}

#map-canvas{
	margin-top:-100px;
	position:absolute;
	width:100%;
	height:100%;
}

#main{
	margin-top:100px;
}

/* NAVBAR */ 
.navbar{
	height:75px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:11;
}

.navbar-center{
	margin: 0 auto;
	left:50%;
	width:100px;
	margin-top:10px;
	/*
	position:absolute;
	*/
}


.navbar .record-button{


	/*
	position:absolute;
	left:-50%;
	top:20px;
	*/
	width:100%;
	height:100%;
	background-color:white;
	border-radius:50px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	
}

.yeplive-red{
	color:#AB252A;
}

.yeplive-red-bg{
	background: #AB252A;
}

/*
.login-btn{
	font-family: Lato, sans-serif;
	font-size:20px;
	margin-top:10px;
	height:50px;
	width:100px;
}*/


.yeplive-img{
	position:absolute;
	left:10em;
	top:0.5em;
	height:60px;
	width:200px;
	margin-top:2%;
}

.img-user{
	margin-top:0.5em;
	margin-right:1em;
	height:60px;
	width:60px;
	
}

.navbar /*ul*/{
	/*position:absolute;*/
	right:15em;
	list-style:none;
}

ul.navbar-button{
	list-style: none;
	/*margin-right: 20px;
	margin-top:10px;*/
}

.navbar-background{
	background:white;
	height:81px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	opacity:1;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

/* YEP MODAL */
.yep-container{
	height:800px;
}

.dropdown{
	display:inline-block;
}

.yep-body{
	height:625px;
}

.chat-box{
	height:300px;
	border: 1px solid #ccc;
}

/* FOOTER */
#footer-div{
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
}

.footer{
	background:black;
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
	opacity:0.5;
}

.down-arrow{
	z-index:11;
	color:white;
	margin-top:10px;
	font-size:30px;
	position:absolute;
	left:50%;
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ff0000;
  background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #F00;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.recording-container{
	background-color:#18191a;
	height:1000px;
	overflow:hidden;
	margin-top:-25px;
	padding-top:25px;
}

#VideoRecorder{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.video-overlay{
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	left:-50%;
	background-color:rgba(0,0,0,0.5);
}

.video-overlay-wrapper{
	position:absolute;
	left:50%;
}

.full-image{
	margin-top:-100px;
	background-image:url('/img/preview_good.jpg');
	background-size:cover;
	width:100%;
	height:100%;
	z-index:-11;
	position:absolute;
}
.overlay{
  display: block;
  width: 100%;
  background-color: black;
  background-image: url('http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/diagonal-noise.png');
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}
.card {
  /* background-color: rgba(221, 24, 40, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 25px 30px;
  /* margin: 0 auto 25px; */
  /* margin-top: 50px; */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

h1, h2,h3,h4,h5,h6{
	font-family:Roboto;
	color:white;
}


.video-wrapper{
	max-width: 600px;
	max-height: 600px;
	margin:0 auto;
}

.video-load-fail{
	margin-top:140px;
}

.video-content{
	border-color:rgb(188, 51, 51);
	border-style:solid;
	border-width:8px;
	border-radius:9px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}



/* ----- GOOGLE MAP ------ */

.cluster-1, .cluster-2, .cluster-3{
	line-height: 65px;
	width: 67px;
	height: 64px;
}

.cluster-1{
	background-image: url(/img/map/c1.png);
}

.cluster-2{
	background-image: url(/img/map/c2.png);
}

.cluster-3{
	background-image: url(/img/map/c3.png);
}

.cluster{
	color: white;
	text-align: center;
	font-family: 'Arial,Helvetica';
	font-size: 11px;
	font-weight: bold;
}

.infoWindow{
	width:400px;
	max-height:200px;
}
/*
.cluster{
	background-color:black;
}*/


/* ----- GOOGLE MAP ------ */





/* Large devices (large desktops, 1200px - 993px) */
@media (max-width: 1200px){

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:55px;
		width:55px;
	}

	.navbar-background{
		height:66px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:178px;
		margin-top:1%;
	}

	.btn-navbar-button{
		font-size:14px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:85%;
		height:85%;
	}
	*/
	
}

/* Medium devices (desktops, 992px - 769px) */
@media (max-width: 992px){

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:50px;
		width:50px;
	}

	.navbar-background{
		height:61px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:160px;
		margin-top:1%;
	}
	
	.btn-navbar-button{
		padding:7px 7px;
		font-size:14px;
	}
	
	/*
	.record-button{
		margin-top:12px;
		width:70%;
		height:70%;
	}
	*/
	
}

/* Small devices (tablets, 768px - 431px) */
@media (max-width: 768px){

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:45px;
		width:45px;
	}

	.navbar-background{
		height:56px;
	}

	.navbar-center{
		width:80px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		padding:7px 7px;
		font-size:12px;
	}
	
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}

/* For watching video only */
@media (max-width: 628px){
	.video-js{
		width:500px !important;
	}
	.video-wrapper{
		width:515px !important;
	}
}
@media (max-width: 430px){
	.video-js{
		width:340px !important;
	}
	.video-wrapper{
		width:355px !important;
	}
}
@media (max-width: 330px){
	.video-js{
		width:300px !important;
	}
	.video-wrapper{
		width:315px !important;
	}
}
@media (max-width: 230px){
	.video-js{
		width:200px !important;
	}
	.video-wrapper{
		width:215px !important;
	}
}
@media (max-width: 130px){
	.video-js{
		width:100px !important;
	}
	.video-wrapper{
		width:115px !important;
	}
}


/* Mini devices (tablets, 430 and below) */
@media (max-width: 430px){

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:40px;
		width:40px;
	}

	.navbar-background{
		height:51px;
	}

	.navbar-center{
		width:65px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		padding:7px 7px;
		font-size:12px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}
