html, body{
	width:100%;
}

#map-container{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow-y:hidden;
	
}

.vjs-control-bar{
	display:none !important;
}

.yep-hr{
position:relative;
top:20px;
left:10px;
width:100%;

}

.rotateCW{
	 -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.btn-facebook{
margin-top:25px;
font-size:25px;	
background-color:#3b5998;
color:white;
}

.btn-twitter{
margin-top:25px;
font-size:25px;
background-color:#3df;
color:white;
}

.btn-google{
margin-top:25px;
font-size:25px;
background-color:rgb(233, 74, 50);
color:white;
}

#playVideo{
	margin:0 auto;
}

body{
	/*overflow-y:hidden;*/
}

.stop-button{
	margin-top:25px;
	width:150;
	height:50px;
	font-size:20px;
}

.liked{
	color: #2ecc71;
}

#map-canvas{
/*	margin-top:-100px;*/
	position:absolute;
	width:100%;
	height:100%;
}

.record-start{
	width:150px;
	height:50px;
	font-size:25px;
	margin-top:200px;
	
}

.chat-message p{
	width: 90%;
	padding-left: 5%;
	word-wrap: break-word;
}


#main{
	margin-top:82px;
}

/* NAVBAR */ 
.navbar{
	height:75px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:11;
}

.navbar-center{
	margin: 0 auto;
	left:50%;
	width:100px;
	margin-top:10px;
	/*
	position:absolute;
	*/
}


.navbar .record-button{


	/*
	position:absolute;
	left:-50%;
	top:20px;
	*/
	width:100%;
	height:100%;
	background-color:white;
	border-radius:50px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	
}

.yeplive-red{
	color:#AB252A;
}

.yeplive-red-bg{
	background: #AB252A;
}

/*
.login-btn{
	font-family: Lato, sans-serif;
	font-size:20px;
	margin-top:10px;
	height:50px;
	width:100px;
}*/


.yeplive-img{

	/*
	position:absolute;
	left:10em;
	top:0.5em;
	*/
	width:200px;
	margin-top:2%;
}

.img-user{
	cursor:pointer;
	margin-top:0.5em;
	margin-right:1em;
	height:60px;
	width:60px;
	
}

.navbar /*ul*/{
	/*position:absolute;*/
	right:15em;
	list-style:none;
}

ul.navbar-button{
	margin-right: 90px;
	list-style: none;
	/*margin-right: 20px;
	margin-top:10px;*/
}

.navbar-background{
	background:white;
	height:81px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	opacity:1;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

/* YEP MODAL */
.yep-container{
	height:800px;
}

.dropdown{
	display:inline-block;
}

.yep-body{
	height:625px;
}

.chat-box{
	height:300px;
	border: 1px solid #ccc;
}

/* FOOTER */
#footer-div{
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
}

.footer{
	background:black;
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
	opacity:0.5;
}

.down-arrow{
	z-index:11;
	color:white;
	margin-top:10px;
	font-size:30px;
	position:absolute;
	left:50%;
}

.yep-overlay{
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ff0000;
  background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #F00;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.recording-container{
	/*background-color:#18191a;*/
	/*height:1000px;
	overflow:hidden;*/
	margin-top:-25px;
	padding-top:25px;
}

#VideoRecorder{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.watch-chat-grid, .watch-chat-box{
	margin-top:25px;
}

.watch-video-grid{
	background-color: black;
	height:600px;
	}

#playVideo_html5_api{
	top:-10px;
}

 .watch-chat-input{
	margin-bottom:25px;
}

/*

.view-box{
	position:absolute;
	right:75px;
	top:15px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}

.like-box{
	position:absolute;
	right:75px;
	top:75px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}


.connection-box{
	position:absolute;
	right:75px;
	top:45px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}
*/


.close-discover{
	position:absolute;
	right:10px;
	top:-20px;
	color:#ccc;
	cursor: pointer;
}

.chat-message{
	color:black;
	border-radius:35px;
	padding-left:17px;
	padding-top:6px;
	width:92%;
}

.chat-message p{
	margin-left:12px;
}

/*
.yep-chat-box{
	position:absolute;
	bottom:75px;
	height:80px;
	width:70%;
	left:27px;
	
}

.yep-chat-input-box{
	position:absolute;
	bottom:10px;
	left:32%;
	width:58%;
	color:white;
}
*/

#chat-input{
	height:50px;
	border-radius:25px;
	background-color:rgba(0,0,0,0.5);
	font-size:20px;
	border:none;
	padding-left:20px;
	width:100%;
	outline: none;
}

#title{
	height:50px;
	border-radius:25px;
	background-color:rgba(0,0,0,0.5);
	font-size:30px;
	border:none;
	padding-left:20px;
	width:100%;
	outline: none;
	color:white;
	margin-top:75px;
	text-align:center;
}
/*
.end-stream{
	bottom: 10px;
	position: absolute;
	border: solid;
	padding: 10px;
	margin-left: 57px;
	cursor: pointer;
}*/

.video-overlay{
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	left:-50%;
	margin-top:25px;
	background-color:rgba(0,0,0,0.5);
}

/*
.video-overlay-2{
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;

	margin-top:25px;
}

.video-overlay-2 .glyphicon{
	top:3px;
}
*/

.video-overlay-wrapper{
	position:absolute;
	left:50%;
}

.full-image{
	margin-top:-100px;
	background-image:url('/img/preview_good.jpg');
	background-size:cover;
	width:100%;
	height:100%;
	z-index:-11;
	position:absolute;
}
.overlay{
  display: block;
  width: 100%;
  background-image: url('http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/diagonal-noise.png');
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}
.card {
  /* background-color: rgba(221, 24, 40, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 25px 30px;
  /* margin: 0 auto 25px; */
  /* margin-top: 50px; */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

h1,h2,h3,h4,h5,h6{
	font-family:Roboto;
	font-weight:300;
}


.video-wrapper{
	max-width: 600px;
	max-height: 600px;
	margin:0 auto;
}

.video-load-fail{
	margin-top:140px;
}

.video-content{
	border-color:rgb(188, 51, 51);
	border-style:solid;
	border-width:8px;
	border-radius:9px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}


img.discover-user-picture{
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-right: 45px;
	float:left;
}

.watch-user-info{
	margin-top: 30px;
}

img.loading{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
}

/* ----- RECORDING VIEW ------ */

.record-controller{
	margin-top: 10px;
}

.js-stop{
	width:50px;
	height:50px;
	margin-left:15px;
	font-size:1.5em;
}

.record-chat-box{
	height: 250px;
	overflow: scroll;
	overflow-x: hidden;
}

.record-chat-bottom{
	margin-top:25px;
	margin-bottom: 25px;
}

.record-chat-top{
	font-size: 1.5em;
	margin-bottom: 15px;
}

.recording-chat{
}

.record-end-stream{
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
}

/* ----- END OF RECORDING VIEW ------ */








/* ----- GOOGLE MAP ------ */


.discover-video-player{
	margin-bottom:25px;
}

img.discover-comment-user-img{
	border-radius: 30px;
}

.cluster-1, .cluster-2, .cluster-3{
	line-height: 115px;
	width: 56px;
	height: 81px;
}

.cluster-1{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster-2{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster-3{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster{
	color: red;
	text-align: center;
	font-family: Roboto;
	font-size: 17px;
	font-weight: bold;
}

.infoWindow{
	width:300px;
	max-height:200px;
}

.cluster-wrapper{
	overflow: hidden;
}

.explorer-wrapper {
	height:150px;
	margin-left:10px;
}

.explorer-wrapper a{
	color: black;
}

.explorer-video-author-info{
	margin-top:10px;
}


img.cluster-Image{
	width:25%;
	height:25%;
	float:left;
}

img.explorer-image{
	width:120px;
	float:left;
}

img.explorer-landscape{
	margin-top:27px;
}

.explorer-time{
	background-color:rgba(0,0,0,0.8);
	border:1px solid white;
	padding: 5px 10px 5px 10px;
	width:60px;
	color:white;
	position:relative;
	left:84px;
	top:117px;
	z-index:100;
}

.explorer-views{
	display:inline-block;
}

.explore-container{
	opacity: 1;
	margin-top:80px;
	position: absolute;
	overflow: scroll;
	z-index: 5;
	width: 370px;
	height: 93%;
	background: #fff;
	padding: 0em 1.5em 0;
	padding-left: 0px;
	font-size: 1.15em;
	-webkit-transform: translate3d(-370px,0,0);
	transform: translate3d(-370px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);

	webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

}

.explore-container-show{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.explorer-title{
	font-family: 'Roboto';
	font-weight: 400;
	color:black;
}

.explorer-user-image{
	width:25px;
	height:25px;
}

.explorer-portrait{
	margin-top:30px;
	margin-bottom:10px;
}

.explorer-portrait-body{
}

.cluster-body{
	margin-left: 10px;
	margin-right: 5px;
	float:left;
	width: 100px;
	color:black;
}

.explorer-display-name{
	font-family: 'Roboto';
	font-weight: 200;
	display:inline-block;
}

.explorer-body{
	margin-left: 10px;
	margin-right: 5px;
	float:left;
	width: 150px;
	height:55px;
}

.explorer-created-time{
	float:left;
	font-style:italic;
	font-size: 0.8em;
	margin-top: 12px
}

#explorer-close{
	position: absolute;
	overflow: hidden;
	top: 0.2em;
	right: 0.5em;
	font-family: 'Roboto';
	font-weight: 200;
	font-size: 1.5em;
	color: black;
	width: 25;
	height: 25;
	text-align: center;
}


.explorer-body-col{
	padding-left:0px;
	padding-right:0px;
}
/*
.explorer-close:hover{
	border: dashed 2px;
	border-radius: 50px;
	cursor: pointer;
}*/

.cluster-created-time, .explorer-created-time{
	float:left;
}

.btn-navbar-button{
	font-family: 'roboto';
	font-weight: 200;
	margin-top:13px;
	font-size:14px;
}
/*
.cluster{
	background-color:black;
}*/


/* ----- End of GOOGLE MAP ------ */


/* ----- WATCH VIEW ------ */


img.commenter-picture{
	border-radius: 100px;
	float:left;
	margin-right: 20px;
	width:50px;
}

button.discover-user-comment-button{
	float:right;
}

.comment-timeelapsed{
	color: rgb(157, 157, 157);
	font-size: 12px;
}

.comment-body{
	margin-left: 70px;
	width:300px;
	word-wrap: break-word;
}

img.watch-author-picture{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.watch-video-grid, .watch-chat-grid{
	/*background-color: rgb(234, 234, 234);*/
}


div.watch-chat-box{
	height: 280px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.btn-star{
	width:65px;
	height:50px;
}

input.watch-chat-input, input.record-chat-input{
	height:50px;
	border-radius:5px;
	background-color: white;
	font-size:20px;
	border:1px solid #ccc;
	padding-left:20px;
	width:100%;
	outline: none;
}


img.chat-picture{
	width: 25px;
	height: 25px;
}

b.chat-user-name{
	font-family: 'roboto';
	font-weight: 200;
}

.watch-video-info{
	margin-bottom: 25px;
}

.watch-share-btn{
	cursor: pointer;
}

.star-animation{
	opacity: 0;
	position: absolute;

	-webkit-animation-name: ;
	-webkit-animation-duration: 800ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: ;
	-moz-animation-duration: 800ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;

	-ms-animation-name: ;
	-ms-animation-duration: 800ms;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;

	animation-name: ;
	animation-duration: 800ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { 
        -ms-transform: rotate(0deg);
        bottom:0px;
        opacity:1;
    }
    to { 
        -ms-transform: rotate(360deg); 
        bottom:150px;
        opacity:0;
    }
}
@-moz-keyframes spin {
    from { 
        -moz-transform: rotate(0deg);
        bottom:0px;
        opacity:1;
    }
    to {
        -moz-transform: rotate(360deg);
        bottom:150px;
        opacity:0;
    }
}
@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg); 
        bottom:0px;
        opacity:1;
    }
    to { 
        -webkit-transform: rotate(360deg); 
        bottom:150px;
        opacity:0;
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
        bottom:0px;
        opacity:1;
    }
    to {
        transform:rotate(360deg);
        bottom:150px;
        opacity:0;
    }
}

/* ----- End of WATCH VIEW ------ */



/* ----- DISCOVER VIEW ------ */


.discover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    z-index: 9;
}


.discover-body{
	z-index: 5;
	opacity: 1;
	padding-top: 33px;
	position:relative;
}

.close{
	padding-left: 1px;
}

div.watch-vote{
	cursor: pointer;
}


div.discover-message-box{
	border: dashed;
	border-color: lightgrey;
	width: 100%;
    height: 300px;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

img.message-box-user-picture{
	width:30px;
	height:30px;
	border-radius:30px;
}

div.new-message{
	padding-left: 12px;
}


div.message-box-messsage{
	padding-left: 50px
}

span.message-box-message-owner{
	padding-left:8px;
	font-family:Roboto;
	font-weight:200;
}

div.prompt-appstore{
	margin-top:100px;
}


/* ----- End of DISCOVER VIEW ------ */






/* ------------------------- USER PAGE ---------------------------- */

img.user-profile-picture{
	width:200px;
	border-radius:15px;
}

div.user-display-name, div.user-follow-button{
	margin-top:75px;
}

img.user-yeps-image{
	width:400px;
	border-radius:35px;
}

div.user-yeps-duration{
	position: absolute;
	bottom: 18px;
	right: 93px;
	font-size: 30px;
	background-color: black;
	color: white;
	padding: 7px 7px 7px 7px;
	border-radius: 14px;
	border: solid 2px;
}

img.user-yeps-profile-picture{
	width:90px;
	border-radius:15px;
}

div.user-yeps-profile-id{
	margin-top:25px;
}

div.user-profile-display-name{
	margin-top:33px;
}

div.user-yeps-video{
	cursor:pointer;
}

img.user-follow-profile-image{
	min-width: 200px;
	border-radius: 15px;
}

div.user-follow-display-name{
	margin-top: 68px;
}

div.user-view-selection-button{
	cursor: pointer;
}

div.user-view-selection-button:hover{
	border: solid 1px lightgrey;
	border-radius: 30px;
}

div.user-view-contents-selected{
	border: solid 1px lightgrey;
	border-radius: 30px;
}

div.user-view{
	margin-top: 25px;
}

/* ------------------------- END OF USER PAGE ---------------------------- */


/* Large devices (large desktops, 1200px - 993px) */
@media (max-width: 1200px){

	div#main{
		margin-top:68px;
	}

	div.explore-container{
		width:340px;
		margin-top:66px;
	}

	.explorer-time{
		left:65px;
		top:124px;
	}

	div.explorer-body{
		margin-left: 4px;
		margin-right: 0px;
		float: left;
		width: 160px;
	}

	.record-end-stream{
		padding:3px;
	}

	.record-chat-box{
		height:250px;
	}

	input.record-chat-input{
		font-size:16px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:55px;
		width:55px;
	}

	.navbar-background{
		height:67px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:178px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:13px;
		font-size:14px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:85%;
		height:85%;
	}
	

	.yep-chat-box{
		left: 132px;
	}
	

	.yep-chat-input-box{
		width: 31%;
		left: 43%;
	}
	*/

	#chat-input{
		height: 41px;
	}


	/*
	.connection-box{
		right: 174px;
	}

	.like-box{
		right: 174px;
	}

	.view-box{
		right: 174px;
	}

	.yep-chat-box{

	}
	*/

	img.chat-picture{
		width: 25px;
		height: 25px;
	}
	
	.chat-message{
		padding-left: 8px;
		width: 63%;
	}
	/*
	.end-stream{
		padding: 7px;
		margin-left: 134px;
	}*/

	.video-js{
/*		width:530px !important; */
	}
}

/* Medium devices (desktops, 992px - 769px) */
@media (max-width: 992px){

	.record-end-stream{
		padding:11px;
	}

	input.record-chat-input{
		width:95%;
		height: 42px;
		margin-bottom: 10px;
	}

	img.explorer-image{
		width:112px;
	}

	div.explore-container{
		width:312px;
		margin-top: 64px;
	}

	.explorer-time{
		left:57px;
	}

	div.message-box{
		height: 280px;
	}

	div#main{
		margin-top:64px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:50px;
		width:50px;
	}

	.navbar-background{
		height:61px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:160px;
		margin-top:1%;
	}
	
	.btn-navbar-button{
		margin-top:11px;
		padding:7px 7px;
		font-size:14px;
	}

	.dropdown-menu{
		min-width:130px;
	}
	
	/*
	.record-button{
		margin-top:12px;
		width:70%;
		height:70%;
	}
	*/
	
}

/* Small devices (tablets, 768px - 431px) */
@media (max-width: 768px){

	div.message-box{
		height: 230px;
	}

	div#main{
		margin-top:58px;
	}

	div.explore-container{
		width:300px;
		margin-top:58px;
	}

	img.explorer-image{
		padding-left:10px;
	}

	div.explorer-body{
		margin-top:13px;
	}

	.explorer-time{
		top:135px;
		padding: 0px 0px 0px 5px;
		width:50px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:45px;
		width:45px;
	}

	.navbar-background{
		height:56px;
	}

	.navbar-center{
		width:80px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:10px;
		padding:7px 7px;
		font-size:12px;
	}
	
	.dropdown-menu{
		min-width:130px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}




/* Mini devices (tablets, 430 and below) */
@media (max-width: 430px){


#map-canvas{
	margin-top:0px;
	position:absolute;
	width:100%;
	height:100%;
}
	img.discover-user-picture{
		margin-right:0px;
	}

	div.discover-video-body{
		font-size: 0.5em;
	}

	img.discover-comment-user-img{
		border-radius:30px;
		margin-bottom: 14px;
	}

	div.discover-comment-user-img-col{
		width:40%;
	}

	textarea.discover-user-comment-area{
		width: 167px;
		height: 53px;
	}

	div.discover-message-box{
		height: 200px;
	}

	div#main{
		margin-top:52px;
		overflow-y:hidden;
	}

	ul.navbar-button{
		margin-right:20px;
		margin-top:-10px;
	}

	div.explore-container{
		width:240px;
		margin-top:53px;
	}

	img.explorer-landscape{
		margin-top:42px;
	}

	.explorer-wrapper{
		width:260px;
	}

	img.explorer-image{
		width:100px;
	}

	div.explorer-body{
		width:125px;
		font-size:0.8em;
	}

	div.explorer-created-time{
		font-size:0.8em;
	}

	.img-user{
		margin-top:1em;
		margin-right:0.5em;
		height:40px;
		width:40px;
	}

	.navbar-background{
		height:51px;
	}

	.navbar-center{
		width:65px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:18px;
		padding:7px 7px;
		font-size:12px;
	}

	.dropdown-menu{
		min-width:130px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}



/* For watching video only */
/*
@media (max-width: 628px){
	.video-js{
		width:500px !important;
	}
	.video-wrapper{
		width:515px !important;
	}
}
@media (max-width: 430px){
	.video-js{
		width:340px !important;
	}
	.video-wrapper{
		width:355px !important;
	}
}
@media (max-width: 330px){
	.video-js{
		width:300px !important;
	}
	.video-wrapper{
		width:315px !important;
	}
}
@media (max-width: 230px){
	.video-js{
		width:200px !important;
	}
	.video-wrapper{
		width:215px !important;
	}
}
@media (max-width: 130px){
	.video-js{
		width:100px !important;
	}
	.video-wrapper{
		width:115px !important;
	}
}
*/

/* IE8 Fix */
video { display: block; }


video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(../img/preview_good.jpg) no-repeat;
background-size: cover;
  /*opacity: 0.7;*/
}

.yeplive-loading{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:rgb(200, 23, 37);
}

.red-bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:#ECECEC;
	z-index:-1;
}

.loader-center-outside{
	position:absolute;
	top:47.5%;
	left:50%;
}

.loader-center-inside{
	position:relative;
	left:-50%;
	top:-50%;
}

/* LOADER CSS */
.la-ball-clip-rotate {
    position: relative;
}
.la-ball-clip-rotate > div {
    position: relative;
    box-sizing: content-box;
    color: #fff;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
}
.la-ball-clip-rotate:after {
    display: table;
    clear: both;
    line-height: 0;
    content: "";
}
.la-ball-clip-rotate.la-dark > div {
    color: #444;
    background: #444;
    border-color: #444;
}
/*
 * Animation
 */
@keyframes ball-clip-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ball-clip-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-ms-keyframes ball-clip-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate > div {
    display: inline-block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 0;
    background: transparent !important;
    border-style: solid;
    border-width: 2px;
    border-bottom-color: transparent !important;
    border-radius: 100%;
		 animation: ball-clip-rotate .75s linear infinite;
		 -moz-animation: ball-clip-rotate .75s linear infinite;
		 -webkit-animation: ball-clip-rotate .75s linear infinite;
		 -ms-animation: ball-clip-rotate .75s linear infinite;
		 -o-animation: ball-clip-rotate .75s linear infinite;
		-webkit-animation-name: ball-clip-rotate;
		-webkit-animation-duration: .75s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		
}
.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
    width: 14px;
    height: 14px;
    margin: 0;
    border-width: 1px;
}
.la-ball-clip-rotate.la-lg {
    width: 48px;
    height: 48px;
}
.la-ball-clip-rotate.la-lg > div {
    width: 42px;
    height: 42px;
    margin: 0;
    border-width: 3px;
}
.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
    width: 56px;
    height: 56px;
    margin: 0;
    border-width: 4px;
}
