html, body{
	width:100%;
}

.btn-facebook{
margin-top:25px;
font-size:25px;	
background-color:#3b5998;
color:white;
}

.btn-twitter{
margin-top:25px;
font-size:25px;
background-color:#3df;
color:white;
}

#playVideo{
	margin:0 auto;
}

body{
	/*overflow-y:hidden;*/
}

.js-share{
	color:white;
}

.stop-button{
	margin-top:25px;
	width:150;
	height:50px;
	font-size:20px;
}

.liked{
	color: #2ecc71;
}

#map-canvas{
	margin-top:-100px;
	position:absolute;
	width:100%;
	height:100%;
}

.record-start{
	width:150px;
	height:50px;
	font-size:25px;
	margin-top:200px;
	
}

.chat-message p{
	width: 90%;
	padding-left: 5%;
	word-wrap: break-word;
}


#main{
	margin-top:82px;
}

/* NAVBAR */ 
.navbar{
	height:75px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:11;
}

.navbar-center{
	margin: 0 auto;
	left:50%;
	width:100px;
	margin-top:10px;
	/*
	position:absolute;
	*/
}


.navbar .record-button{


	/*
	position:absolute;
	left:-50%;
	top:20px;
	*/
	width:100%;
	height:100%;
	background-color:white;
	border-radius:50px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	
}

.yeplive-red{
	color:#AB252A;
}

.yeplive-red-bg{
	background: #AB252A;
}

/*
.login-btn{
	font-family: Lato, sans-serif;
	font-size:20px;
	margin-top:10px;
	height:50px;
	width:100px;
}*/


.yeplive-img{

	/*
	position:absolute;
	left:10em;
	top:0.5em;
	*/
	width:200px;
	margin-top:2%;
}

.img-user{
	margin-top:0.5em;
	margin-right:1em;
	height:60px;
	width:60px;
	
}

.navbar /*ul*/{
	/*position:absolute;*/
	right:15em;
	list-style:none;
}

ul.navbar-button{
	margin-right: 90px;
	list-style: none;
	/*margin-right: 20px;
	margin-top:10px;*/
}

.navbar-background{
	background:white;
	height:81px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	opacity:1;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

/* YEP MODAL */
.yep-container{
	height:800px;
}

.dropdown{
	display:inline-block;
}

.yep-body{
	height:625px;
}

.chat-box{
	height:300px;
	border: 1px solid #ccc;
}

/* FOOTER */
#footer-div{
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
}

.footer{
	background:black;
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
	opacity:0.5;
}

.down-arrow{
	z-index:11;
	color:white;
	margin-top:10px;
	font-size:30px;
	position:absolute;
	left:50%;
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ff0000;
  background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #F00;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.recording-container{
	/*background-color:#18191a;*/
	/*height:1000px;
	overflow:hidden;*/
	margin-top:-25px;
	padding-top:25px;
}

#VideoRecorder{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.video-recorder, .watch-video-grid, .watch-chat-grid, .watch-chat-box, .watch-chat-input{
	margin-top:25px;
}

.video-recorder, .watch-chat-input{
	margin-bottom:25px;
}

.view-box{
	position:absolute;
	right:75px;
	top:15px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}

.like-box{
	position:absolute;
	right:75px;
	top:75px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}

.connection-box{
	position:absolute;
	right:75px;
	top:45px;
	color:black;
	opacity:0.5;
	font-size:20px;
	font-weight:300;
}

.chat-message{
	color:black;
	background-color: rgba(161, 161, 161, 0.5);
	border-radius:35px;
	padding-left:17px;
	padding-top:6px;
	width:92%;
}

.yep-chat-box{
	position:absolute;
	bottom:75px;
	height:80px;
	width:70%;
	left:27px;
	
}

.yep-chat-input-box{
	position:absolute;
	bottom:10px;
	left:32%;
	width:58%;
	color:white;
}

#chat-input{
	height:50px;
	border-radius:25px;
	background-color:rgba(0,0,0,0.5);
	font-size:20px;
	border:none;
	padding-left:20px;
	width:100%;
	outline: none;
}

#description{
	height:50px;
	border-radius:25px;
	background-color:rgba(0,0,0,0.5);
	font-size:30px;
	border:none;
	padding-left:20px;
	width:100%;
	outline: none;
	color:white;
	margin-top:75px;
	text-align:center;
}

.end-stream{
	bottom: 10px;
	position: absolute;
	border: solid;
	padding: 10px;
	margin-left: 57px;
	cursor: pointer;
}

.video-overlay{
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	left:-50%;
	margin-top:25px;
	background-color:rgba(0,0,0,0.5);
}

.video-overlay-2{
	width:640px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	/*left:-50%;*/
	margin-top:25px;
}

.video-overlay-2 .glyphicon{
	top:3px;
}

.video-overlay-wrapper{
	position:absolute;
	left:50%;
}

.full-image{
	margin-top:-100px;
	background-image:url('/img/preview_good.jpg');
	background-size:cover;
	width:100%;
	height:100%;
	z-index:-11;
	position:absolute;
}
.overlay{
  display: block;
  width: 100%;
  background-color: white;
  /*background-image: url('http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/diagonal-noise.png');*/
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}
.card {
  /* background-color: rgba(221, 24, 40, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 25px 30px;
  /* margin: 0 auto 25px; */
  /* margin-top: 50px; */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

h1,h2,h3,h4,h5,h6{
	font-family:Roboto;
	font-weight:300;
}


.video-wrapper{
	max-width: 600px;
	max-height: 600px;
	margin:0 auto;
}

.video-load-fail{
	margin-top:140px;
}

.video-content{
	border-color:rgb(188, 51, 51);
	border-style:solid;
	border-width:8px;
	border-radius:9px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}


img.discover-user-picture{
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-right: 45px;
	float:left;
}

.watch-user-info{
	margin-top: 30px;
}

img.loading{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
}


/* ----- GOOGLE MAP ------ */

img.discover-comment-user-img{
	border-radius: 30px;
}

.cluster-1, .cluster-2, .cluster-3{
	line-height: 115px;
	width: 56px;
	height: 81px;
}

.cluster-1{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster-2{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster-3{
	background-image: url(/img/map/cluster-marker.png);
}

.cluster{
	color: red;
	text-align: center;
	font-family: Roboto;
	font-size: 17px;
	font-weight: bold;
}

.infoWindow{
	width:300px;
	max-height:200px;
}

.cluster-wrapper{
	overflow: hidden;
}

.explorer-wrapper {
	overflow: hidden;
}

.explorer-wrapper a{
	color: #b8b7ad;
}


img.cluster-Image{
	width:25%;
	height:25%;
	float:left;
}

img.explorer-image{
	width:35%;
	height:35%;
	float:left;
	border-radius:8px;
}


.explorer-views{
	margin-left:10px;
}

.explore-container{
	opacity: 1;
	position: absolute;
	overflow: scroll;
	z-index: 5;
	width: 650px;
	height: 86%;
	background: #373a47;
	padding: 2em 1.5em 0;
	padding-left: 330px;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.explorer-title{
	font-family: 'Roboto';
	font-weight: 400;
}

.cluster-body{
	margin-left: 10px;
	margin-right: 5px;
	float:left;
	width: 100px;
}

.explorer-display-name{
	font-family: 'Roboto';
	font-weight: 200;
	margin-top: 10px;
}

.explorer-body{
	margin-left: 10px;
	margin-right: 5px;
	float:left;
	width: 165px;
	height:55px;
}

.explorer-created-time{
	float:left;
	font-style:italic;
	font-size: 0.8em;
	margin-top: 18px
}

.explorer-close{
	position: absolute;
	overflow: hidden;
	top:0em;
	right: 0.5em;
	font-family: 'Roboto';
	font-weight: 200;
	font-size: 1.5em;
	color: #b8b7ad;
	width: 40px;
	height: 40px;
	text-align: center;
}

.explorer-close:hover{
	border: dashed 2px;
	border-radius: 50px;
	cursor: pointer;
}

.cluster-created-time, .explorer-created-time{
	float:left;
}

.btn-navbar-button{
	margin-top:13px;
	font-size:14px;
}
/*
.cluster{
	background-color:black;
}*/


/* ----- End of GOOGLE MAP ------ */


/* ----- WATCH VIEW ------ */


img.commenter-picture{
	border-radius: 100px;
	float:left;
	margin-right: 20px;
	width:50px;
}

button.discover-user-comment-button{
	float:right;
}

.comment-timeelapsed{
	color: rgb(157, 157, 157);
	font-size: 12px;
}

.comment-body{
	margin-left: 70px;
	width:300px;
	word-wrap: break-word;
}

img.watch-author-picture{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.watch-video-grid, .watch-chat-grid{
	background-color: rgb(234, 234, 234);
}


div.watch-chat-box{
	height: 300px;
	overflow: scroll;
}

input.watch-chat-input{
	height:50px;
	border-radius:25px;
	background-color: white;
	font-size:20px;
	border:none;
	padding-left:20px;
	width:100%;
	outline: none;
}


img.chat-picture{
	width: 25px;
	height: 25px;
}

b.chat-user-name{
	font-family: 'roboto';
	font-weight: 200;
}

.watch-video-info{
	margin-bottom: 25px;
}

/* ----- End of WATCH VIEW ------ */



/* ----- DISCOVER VIEW ------ */


.discover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    z-index: 9;
}


.discover-body{
	z-index: 5;
	opacity: 1;
	padding-top: 33px;
	position:relative;
}


i#discover-close{
	margin-left: 588px;
	margin-top: -30px;
	position: absolute;
	z-index: 10px;
	cursor: pointer;
}

i.watch-vote{
	cursor: pointer;
}

div.discover-message-box{
	border: dashed;
	border-color: lightgrey;
	width: 100%;
    height: 300px;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

img.message-box-user-picture{
	width:30px;
	height:30px;
	border-radius:30px;
}

div.new-message{
	padding-left: 12px;
}


div.message-box-messsage{
	padding-left: 50px
}

span.message-box-message-owner{
	padding-left:8px;
	font-family:Roboto;
	font-weight:200;
}

div.prompt-appstore{
	margin-top:100px;
}


/* ----- End of DISCOVER VIEW ------ */






/* Large devices (large desktops, 1200px - 993px) */
@media (max-width: 1200px){

	div#main{
		margin-top:68px;
	}

	div.explore-container{
		width:630px;
	}

	div.explorer-body{
		margin-left: 4px;
		margin-right: 0px;
		float: left;
		width: 160px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:55px;
		width:55px;
	}

	.navbar-background{
		height:66px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:178px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:13px;
		font-size:14px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:85%;
		height:85%;
	}
	*/

	.yep-chat-box{
		left: 132px;
	}

	.yep-chat-input-box{
		width: 31%;
		left: 43%;
	}

	#chat-input{
		height: 41px;
	}

	.connection-box{
		right: 174px;
	}

	.like-box{
		right: 174px;
	}

	.view-box{
		right: 174px;
	}

	.yep-chat-box{

	}

	img.chat-picture{
		width: 25px;
		height: 25px;
	}
	
	.chat-message{
		padding-left: 8px;
		width: 63%;
	}

	.end-stream{
		padding: 7px;
		margin-left: 134px;
	}
}

/* Medium devices (desktops, 992px - 769px) */
@media (max-width: 992px){

	div.message-box{
		height: 280px;
	}

	div#main{
		margin-top:64px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:50px;
		width:50px;
	}

	.navbar-background{
		height:61px;
	}

	.navbar-center{
		width:28%;
		margin-top:10px;
	}

	.yeplive-img{
		width:160px;
		margin-top:1%;
	}
	
	.btn-navbar-button{
		margin-top:11px;
		padding:7px 7px;
		font-size:14px;
	}

	.dropdown-menu{
		min-width:130px;
	}
	
	/*
	.record-button{
		margin-top:12px;
		width:70%;
		height:70%;
	}
	*/
	
}

/* Small devices (tablets, 768px - 431px) */
@media (max-width: 768px){

	div.message-box{
		height: 230px;
	}

	div#main{
		margin-top:58px;
	}

	div.explore-container{
		width:580px;
	}

	img.explorer-image{
		width:60%;
		height:60%;
	}

	div.explorer-body{
		margin-top:13px;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:45px;
		width:45px;
	}

	.navbar-background{
		height:56px;
	}

	.navbar-center{
		width:80px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:10px;
		padding:7px 7px;
		font-size:12px;
	}
	
	.dropdown-menu{
		min-width:130px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}




/* Mini devices (tablets, 430 and below) */
@media (max-width: 430px){

	img.discover-user-picture{
		margin-right:0px;
	}

	div.discover-video-body{
		font-size: 0.5em;
	}

	img.discover-comment-user-img{
		border-radius:30px;
		margin-bottom: 14px;
	}

	div.discover-comment-user-img-col{
		width:40%;
	}

	textarea.discover-user-comment-area{
		width: 167px;
		height: 53px;
	}

	div.discover-message-box{
		height: 200px;
	}

	div#main{
		margin-top:52px;
	}

	ul.navbar-button{
		margin-right:20px;
		margin-top:-10px;
	}

	div.explore-container{
		width:492px;
	}

	div.explorer-body{
		width:141px;
		font-size:0.8em;
	}

	div.explorer-created-time{
		margin-top: -7px;
		font-size:0.8em;
	}

	.img-user{
		margin-top:0.5em;
		margin-right:0.5em;
		height:40px;
		width:40px;
	}

	.navbar-background{
		height:51px;
	}

	.navbar-center{
		width:65px;
	}

	.yeplive-img{
		width:135px;
		margin-top:1%;
	}

	.btn-navbar-button{
		margin-top:8px;
		padding:7px 7px;
		font-size:12px;
	}

	.dropdown-menu{
		min-width:130px;
	}
	/*
	.record-button{
		margin-top:12px;
		width:60%;
		height:60%;
	}
	*/	
}



/* For watching video only */
@media (max-width: 628px){
	.video-js{
		width:500px !important;
	}
	.video-wrapper{
		width:515px !important;
	}
}
@media (max-width: 430px){
	.video-js{
		width:340px !important;
	}
	.video-wrapper{
		width:355px !important;
	}
}
@media (max-width: 330px){
	.video-js{
		width:300px !important;
	}
	.video-wrapper{
		width:315px !important;
	}
}
@media (max-width: 230px){
	.video-js{
		width:200px !important;
	}
	.video-wrapper{
		width:215px !important;
	}
}
@media (max-width: 130px){
	.video-js{
		width:100px !important;
	}
	.video-wrapper{
		width:115px !important;
	}
}
